#### Importar librerias

In [179]:
import pandas as pd
import numpy as np

#### Cargar dataset con temperaturas globales por ciudades

In [180]:
df_glob_city = pd.read_csv(r'C:\Users\adria\Desktop\Carpeta pruebas Python\Proyecto ML\data\raw\GlobalLandTemperaturesByCountry.csv')

#### Extraer en una variable el contenido de España

In [ ]:
df_temp_spain = df_glob_city[df_glob_city['Country']=='Spain']# Guardamos en una variable solo el contenido del país España
df_temp_spain['dt'] = pd.to_datetime(df_temp_spain['dt'])# Convertimos la columna 'dt' (fecha) en .datetime
df_temp_spain = df_temp_spain.set_index('dt')# Indexaos el dataset de España con la columna 'dt' (fecha)
df_temp_spain = df_temp_spain.loc['1743':'2012']# Nos quedamos con los datos hasta el año 2012
df_temp_spain['AverageTemperature'] = df_temp_spain['AverageTemperature'].fillna(method='ffill')# Rellenamos algunos datos nulos con el método 'ffill' (ver documentación de .fillna())
df_temp_spain = df_temp_spain.loc['1744':'2012']# Finalmente nos quedamos con los datos de 1744 a 2012 ya que el resto de años son incompletos
df_temp_spain = df_temp_spain.drop(['AverageTemperatureUncertainty','Country'],axis=1)# Eliminamos algunas columnas inecesarías
df_temp_spain['AverageTemperature'] = df_temp_spain['AverageTemperature'].round()# Redondeamos números de la columna 'AverageTemperature'
#df_temp_spain.to_csv(r'C:\Users\adria\Desktop\Carpeta pruebas Python\Proyecto ML\data\processed/temp_spain_clear.csv')# Finalmente guardamos el dataset limpio

#### Un poco de información basica del dataset principal

In [181]:
df_glob_city.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [182]:
df_glob_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB

#### Regenar nulos con el metodo 'ffill' de .fillna()

In [186]:
df_glob_city['AverageTemperature'] = df_glob_city['AverageTemperature'].fillna(method='ffill')

#### Comprobar que no hay nulos en la columna 'AverageTemperature'

In [187]:
df_glob_city.isna().sum()

dt                                   0
AverageTemperature                   0
AverageTemperatureUncertainty    31912
Country                              0
dtype: int64

#### Ultimos retoques, eliminacion de algunas columnas y guardado del dataset limpio

In [192]:
df_glob_city = df_glob_city.drop('AverageTemperatureUncertainty',axis=1)

In [194]:
df_glob_city['AverageTemperature'] = df_glob_city['AverageTemperature'].round()

In [198]:
df_glob_city['dt'] = pd.to_datetime(df_glob_city['dt'])

In [200]:
df_glob_city = df_glob_city.set_index('dt')

In [204]:
#df_glob_city.to_csv(r'C:\Users\adria\Desktop\Carpeta pruebas Python\Proyecto ML\data\processed/temp_global_clear.csv')